body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.btn-success,
.btn-success:hover,
.main-sidebar,
.btn-success:visited,
.btn-success:focus,
.btn-success:hover {
    background-color: #210f04;
    color: #ff0000 !important;
}

.main-sidebar a,
p,
i {
    color: #ff0000 !important;
}
